# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
target
*.jar
*.war

# IDE & OS files
.idea
.vscode
*.iml
*.swp
.DS_Store

# Logs
*.log
logs

# Environment variables & Secret configs
.env
.env.local
.env.development.local
.env.production.local
application-secret.yml
*-secret.yml
application-local.yml
